.dashcontent {

    display: block;
    position: relative;
  
}


.overviewDash{

    display: block;
    position: relative;
  
    height: 295px;
    width: 45%;
  
    margin-top: 6px;
    padding-top: 6px;
    /* overflow-y: visible; */
    overflow: hidden;
    /* overflow-y: inherit; */
    /* overflow-y: unset; */
  
    margin-right: -8px;
  
  
  
  }


  .dashContentDiv {

    display: flex;
    position: relative;
  
    height: 100%;
    width: 100%;  
  
    outline: solid 1px var(--dashContentOutline);
    background: var(--dashContentBackground);
  
    /* border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; */
  
    margin: 0px !important;
    padding: 0px !important;
  
    /* overflow:visible; */
  
    overflow-y: scroll;
  
  }
