
.StrategiesTitle{

  display: flex;
  position: relative;

  width: 1200px;
  height: 60px;

  text-align: left;


  font-weight: 800;
  font-size: 48px;
  font-family: phonk;
  color: white !important;
  
 }

.StratHeader{
    
  display: flex;
  position: relative;

  justify-content: center;

  width: 100%;
  padding-top: 50px;
}


.StrategyDiv {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100vw;
    /* min-height: 452px; */
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
  }
  


  .Strategiesdivs{


    display: flex;
    position: relative;
  
    height: 300px;
    width: 1200px;

    color: var(--dashboardFontColor);
    outline: solid 1px var(--dashContentOutline);
    background: var(--dashContentBackground);
    border: var(--dashboardOutline) solid 1px;


    border-radius: 3px;

  
    /* border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; */
  
    margin: 0px !important;
    padding: 0px !important;
  
    /* overflow:visible; */
  
    overflow-y: scroll;

  }


  .Strategies{

    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    height: 100%;
    width: 55%;  

    overflow-x: scroll;

    outline: solid red 2px;

  }


  .portfolio{

    display: block;
    position: relative;
  
    height: 100%;
    width: 45%;  

    margin-inline: 12px;

    overflow-x: scroll;

  }


  .piechart{

    display: block;
    position: relative;
  
    height: 100%;
    width: 100%;  

    overflow-x: scroll;

  }

  .porfolioTitle{

    position: relative;
    display: flex;
    margin-top: 10px;

    width: 100%;

  }

  .porfolioTitleText{

    font-family: phonk;

  }

  .porfolioTitleValue{

    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
  }


  .AssetHealthBar{

    display: flex;
    position: relative;

    height: 25px;
    width: 100%;
    margin-top: 5px;

    font-weight: 900;
    font-family: phonk;
  }

  .Assetbar{

    height: 100%;    
    display: flex;

    align-items: center;
    padding-left: 6px;

  }

  .tokensbar{

    width: 65%;
    background-color: var(--dashboardOutline);

  }

  .nftsbar{
    width: 15%;
    background-color: var(--DashboardTagBackgroundColor);
  }

  .debtbar{
    width: 20%;
    background-color: rgb(248, 97, 97);

  }


  .piechartdiv{

    position: relative;
    display: flex;
    align-items: center;

    width: 225px;
    height: 225px;

  }

  .pie{

    width: 85%; /* Adjust this value to control the size of the hole */
    height: 85%; /* Same value as width for a perfect circle */
    position: absolute;

    left: 0;
    border-radius: 100%;
    border: var(--dashboardOutline) solid 1px;
    background: conic-gradient(
      var(--dashboardOutline) 0% 65%,
      var(--DashboardTagBackgroundColor) 65% 80%,
      var(--backgroundHeader) 80% 100%
    );


  }



  .Statsdiv{


    display: block;
    position: absolute;

    left: 200px;

    width: 250px;
    height: 100%;

    align-items: center;

    padding-inline: 12px;
    padding-top: 48px;

    /* outline: solid red 2px; */
  }

 .stat{

  font-size: 24px;

  
 }

 .Statrow{

  display: flex;
  position: relative;
 }

 .statKey{

  background-color: red;

  width: 25px;
  height: 25px;


 }



 .rebalancediv{

  display: flex;
  position: absolute;

  flex-direction: column;

  left: 475px;

  width: 50px;
  height: 100%;

  align-items: center;


  /* outline: solid blue 2px; */
  

 }



 .Strat{

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between; /* Add spacing between items */


  height: 90%;
  width: 200px;


  background-color: var(--backgroundHeader);
  border-radius: 6px;

  outline: solid var(--dashboardOutline) 2px;
 }


 .StrategiesTitle{

  font-size: 48px;
  font-family: phonk;
  font-weight: 900;

  text-align: center;


 }

 .stratTitlediv{

  width: 100%;


  background-color: black;

  border-bottom: 1px solid var(--dashboardOutline);

 }


 .stratTitle{

  font-size: 22px;
  font-family: phonk;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

  text-align: center;
  padding: 6px;



 }


 .StratContent{

  display: flex;
  position: relative;

  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 100%;


  font-size: 24px;


  background: linear-gradient(to bottom, transparent 0%, var(--dashboardOutline) 90%);


 }


 .explorediv{

  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;


  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;

  color: var(--backgroundHeader);
  background-color: var(--dashboardOutline);

  width: 100%;
  text-align: center;


 }









 .StrategyArticle{


  display: flex;
  position: relative;

  justify-content: space-between;
  align-items: center;

  width: 1200px;
  height: 125px;

  overflow: hidden;


  color: var(--dashboardFontColor);
  background-color: var(--dashContentBackground);
  border: solid 1px var(--dashboardOutline);

  border-radius: 3px;
  
 }

 .ArticleCoverPhoto{

  display: flex;
  position: relative;

  margin-left: 0px;

  border-right: solid 1px var(--dashboardOutline);

 }

 .ArticleCoverPhotoDetails{


  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 2.5%;
  right: 2.5%;
  width: 15px;
  height: 15px;
  color: var(--dashboardFontColor);
  font-size: 12px;
  font-weight: 900;

  border: 1px solid transparent;
  border-radius: 25px;
  transition: .2s;

 }


 .ArticleCoverPhoto:hover .ArticleCoverPhotoDetails {
  opacity: 1; /* Show the element on hover */
  pointer-events: auto; /* Allow the element to capture events */
  background-color: var(--backgroundHeader);
  border-color: var(--dashboardOutline);
}


 .ArticleContent{

  display: flex;
  position: relative;

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
  width: 55%;

  padding-inline: 12px;


  /* padding-inline: 12px;
  padding-top: 6px; */

  margin-left: 0px;

  /* outline: solid yellow 3px; */

 }

 .ArticleHeader{

  display: flex;
  position: relative;

  align-items: center;

  padding-top: 6px;

  width: 100%;
  height: 50%;

  outline: solid green 2px;
 }

 .ArticleTitle{

  display: flex;
  position: relative;

  width: 66%;

  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  outline: solid blue 3px;

 }

 .ArticleTags{

  display: flex;
  position: relative;

  justify-content: space-between;

  width: 55%;
  


  /* outline: solid blue 3px; */

 }


 .tag{

  display: flex;
  position: relative;

  height: 25px;
  width: fit-content;
  /* margin-inline: 6px; */
  padding-inline: 3px;


  background-color: var(--DashboardTagBackgroundColor);
  border-radius: 3px;
  border: 1px solid var(--dashboardOutline);

 }

 .tagtext{
  padding: 3px;
  font-weight: 700;
  font-size: 18px;
 }



 .ArticleText{

  display: flex;
  position: relative;

  flex-direction: column;
  justify-content: center;
  align-items: center;


  font-size: 18px;
  text-indent: 12px;


  /* outline: dotted red 1px; */
 }

 .RiskAndYield{

  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  width: 10% ;


  outline: dotted red 1px;

 }

 .articleOptions{
  
  display: block;
  position: relative;

  margin-left: auto;
  width: 75px;
  height: 100%;


  outline: solid red 2px;
 }



 .SaveArticle{

  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50%;

  /* outline: solid red 2px; */

 }

 .expandArticle{

  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50%;

  outline: solid var(--dashboardOutline) 1px;

 }